<mat-toolbar color="primary">
    <span>SpaceX Missions - FILTER List</span>
  </mat-toolbar>
<select [(ngModel)]="selectedYear" (change)="filterByYear()" style="font-size: 24px;">
    <option value="">All</option>
    <option  *ngFor="let year of years" value="{{ year }}">{{year}}</option>
  </select>

  <mat-grid-list cols="4" rowHeight="600px" gutterSize="16px">
    <mat-grid-tile *ngFor="let mission of missions">
      <mat-card style="width: 90%; height: 90%;">
        <mat-card-header>
          <mat-card-title>{{ mission.mission_name }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="mission.links.mission_patch_small" [alt]="mission.mission_name" style="height: 200px;">
        <mat-card-content>
            <b style="color: brown;">
                {{ mission.launch_year }}
            </b>
          <p>
            {{ mission.details }}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>